@charset "utf-8";
/* container labels printing css
   the convention will be to use the same text for ids/classes as used for the label type in en.yml
   example:
   en:
  top_container_labels:
    _frontend:
      bulk_operations:
        label_type_dymo_30256: dymo-30256
   
   use "dymo-30256" as your id/class namespace
 */
/* generic layout */
*::before,
*::after{
    box-sizing: border-box;
}
/* add the glyphicons in so we can add custom icons if desired */
@font-face {
    font-family: "Glyphicons Halflings";
    src: url("/assets/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/assets/glyphicons-halflings-regular.woff2") format("woff2"), url("/assets/glyphicons-halflings-regular.woff") format("woff"), url("/assets/glyphicons-halflings-regular.ttf") format("truetype"), url("/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12pt;
}
.label{
    margin: 5px auto;
    overflow: scroll;
}
div.label > div{
    font-size: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    width: 95%;
}
div.label .insitution_name {
    font-size: 120%;
}
div.label .repository_name {
    font-size: 75%;
}
div.label .institution_name, 
div.label .repository_name {
    color: #555;
    font-style: italic;
}
div.label .type {
    background-color: #222;
    border-bottom: 1px solid #666;
    color: #fff;
    font-size: 90%;
    padding: 2px 0;
}
div.label .resource_id{
    background-color: #222;
    color: #fff;
    font-weight: 500;
    font-size: 140%;
    padding: 5px 0;

}
div.label .agent_name {
    color: #555;
    font-style: italic;
    padding: 2px 0;
}
/* demonstrates how to add a custom glyphicon icon to a label element */
div.label .agent_name::before {
    content:"\E008";
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding: 0 3px 0 0;
    position: relative;
    top: 1px;
}
div.label .indicator{
    background-color: #222;
    color: #fff;
    font-weight: 900;
    font-size: 150%;
    max-height: 100px;
    padding: 5px 0 ;
}
div.label .resource_title{
    font-weight: bold;
    font-size: 85%;
}
div.label .location {
    background-color: #efefef;
    font-weight: bold;
    padding: 5px 0;
}
div.label .location::before {
    content:"\E062";
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    padding: 0 3px 0 0;
    position: relative;
    top: 1px;
}
div.label .barcode,
div.label .barcode > div{
    margin: 2px auto;
    max-height: 50%;
}
div.label .barcode div:last-of-type{
    clear: none !important;
}
div.label:last-of-type{
    page-break-after: avoid !important;
}
/* label specific sizing and layout */
/* single thermal label on a spool */
.dymo-30256{
    height: 90mm;
    width: 57mm;
}
/* standard 2x4 with 10 labels per sheet in portrait mode */
.avery-5163{
    height: 2in;
    width: 3.875in;
}
.avery-5163:nth-of-type(2n){
    float: right;
    padding-left: 0.125in;
}
.avery-5163:nth-of-type(2n+1){
    clear: left;
    float: left;
    padding-right: 0.125in;
}
@media print{
    .label:last-of-type{
        page-break-after: avoid !important;
    }
    /*************************************************************** 
        safari does some wierd margin things
        adjust for that and then reset chrome
    ****************************************************************/
    .labels.safari-label{
        margin-top: .25in !important;
    }
    .labels.chrome-label{
        margin-top: 0in !important;
    }
    /*************************************************************
        Set when the page breaks should occur for each label type. 
        
        Notice that the dymo is for every label
        while the avery is after every 10th label.
        
        Note also that different browsers scale the printing differently
        despite what *should* happen.
     *************************************************************/
    /******** dymo 30265 *************/
    .dymo-30256{
        page-break-after: always;
    }
    /* tell chrome to behave about page breaks */
    .dymo-30256.chrome-label{
        page-break-after: auto;
    }
    /********** avery 5163 **********/
    .avery-5163:nth-of-type(10){
        page-break-after: always;
    }
    /*************************************************************** 
        safari does some wierd scaling things
        adjust for that and then reset chrome
    ****************************************************************/
    .avery-5163.safari-label{
        width: 3.6in !important;
        height: 1.9in !important;
    }
    .avery-5163.chrome-label{
        width: 3.875in !important;
        height: 2in !important;
    }
    /* tell chrome to behave about page breaks */
    .avery-5163.chrome-label:nth-of-type(10){
        page-break-after: auto;
    }
}