body{
    margin:0;
}
#labels_to_print{
    display:block;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.box-label{
    border-style:solid;
    border-width:1px;
    width:55mm;
    height:88mm;
    text-align:center;
    overflow:hidden;
}
.label-records-management-id{
    position:relative;
    width:70%;
    height:auto;
    font-family:serif;
    font-weight:500;
    font-size:18px;
    margin:0 auto;
    padding:0px;
}
.label-location-header{
    font-size:18px;
    margin-top:10px;
}
.label-location{
    font-size:20px;
    font-weight:700;
    margin:0 auto;
    width:90%;
}
.rm .label-location{
    font-size: 16px;
    height:20px;
    overflow:hidden;
}
.label-resource-id{
    font-weight:500;
    font-size:27px;
    margin-bottom:0;
}
.label-indicator{
    position:relative;
    width:80%;
    font-weight:900;
    font-size:45px;
    border-style:solid;
    border-width:2px;
    margin:0 auto;
    padding:0px;
    line-height:40px;
}
.label-resource-title{
    font-weight:bold;
    font-size:14px;
    margin:5px auto;
    width:90%;
}
.label-series-title{
    font-size:14px;
    margin:5px auto 0 auto;
    height:auto;
    max-height:35px;
    overflow:hidden;
    width:90%;
}
.label-description{
    height:auto;
    max-height:35px;
    font-size:14px;
    margin:5px;
    overflow:hidden;
}
.label-series-title-rm{
    font-size:12px;
    margin:2px auto 0 auto;
    height:auto;
    max-height:16px;
    width:90%;
    overflow:hidden;
}
.label-description-rm{
    height:auto;
    max-height:30px;
    font-size:12px;
    margin:1px auto;
    width:90%;
}
.label-date{
    font-size:16px;
    height:20px;
}
.label-divider{
    position:relative;
    border-style:solid;
    border-width:0px;
    border-bottom-width:1px;
    height:1px;
    width:80%;
    left:10%;
}
.label-records-management-id-header,
.label-records-management-location-header{
    font-size:10px;
}
.label-records-management-location{
    border:1px solid;
    background-color:#ccc;
    font-size:30px;
    margin:0 auto 2px auto;
    width:90%;
}
.label-barcode{
    width:90%;
    height:34px;
    margin-left:auto;
    margin-right:auto;
}
@page {
    size:59mm 102mm;
    margin:5mm 1mm 5mm 1mm;
}
@media print{
    .label-sheet-cell{
        page-break-after:avoid;
    }
    .label-sheet-row .label-sheet-cell{
        page-break-after:always;
    }
    .label-sheet-row .chrome-sheet-cell{
        height:86mm;
        page-break-after:auto;
    }
    .last{
        page-break-after:avoid;
    }
    .box-label{
        border-width:0px;
    }
}