
/* container labels printing css
   the convention will be to use the same text for ids/classes as used for the label type in en.yml
   example:
   en:
  top_container_labels:
    _frontend:
      bulk_operations:
        label_type_dymo_30256: dymo-30256
   
   use "dymo-30256" as your id/class namespace
 */
 
 /* generic layout */
*::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
div.label > div{
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    height: auto;
    overflow: hidden;
    width: 95%;
}
div.label .label-resource-id{
    font-weight: 500;
    font-size: 18px;
}
div.label .label-indicator{
    font-weight: 900;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    max-height: 100px;
    padding: 2px;
}
div.label .label-resource-title{
    font-weight: bold;
}
div.label .label-divider{
    position: relative;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    height: 1px;
}
div.label .label-barcode,
div.label .label-barcode > div {
    margin: 2px  auto;
    max-height: 50%;
}
/* label specific sizing and layout */

/* single thermal label on a spool */
.dymo-30256 {
    height: 102mm;
    width: 59mm;
}

/* standard 2x4 with 10 labels per sheet in portrait mode */
.avery-5163 {
    width: 3.875in;
    height: 2in;
}
.avery-5163:nth-of-type(2n) {
    float: right;
    padding-left: 0.125in;
}
.avery-5163:nth-of-type(2n+1) {
    clear: left;
    float: left;
    padding-right: 0.125in;
}

@media print {
    /*************************************************************
        set when the page breaks should occur for each label type 
        notice that the dymo is for every label
        while the avery is after every 1
     *************************************************************/
    .dymo-30256{
        page-break-after: always;
    }
    .avery-5163:nth-of-type(10) {
        page-break-after: always;
    }
}