/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section{
    display: block;
}
body{
    line-height: 1;
}
ol,
ul{
    list-style: none;
}
blockquote,
q{
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
/* end meyerweb reset css */
/* container labels printing css
   the convention will be to use the same text for ids/classes as used for the label type in en.yml
   example:
   en:
  top_container_labels:
    _frontend:
      bulk_operations:
        label_type_dymo_30256: dymo-30256
   
   use "dymo-30256" as your id/class namespace
 */
/* generic layout */
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12pt;
}
.label {
    overflow: scroll;
}
div.label > div{
    font-size: 90%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    width: 95%;
}
div.label .label-resource-id{
    font-weight: 500;
    font-size: 140%;
}
div.label .label-indicator{
    border-style: solid;
    border-width: 1px;
    font-weight: 900;
    font-size: 120%;
    max-height: 100px;
    padding: 2px;
}
div.label .label-resource-title{
    font-weight: bold;
}
div.label .label-divider{
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    height: 1px;
    position: relative;
}
div.label .label-barcode,
div.label .label-barcode > div{
    margin: 2px auto;
    max-height: 50%;
}
div.label .label-barcode div:last-of-type {
    clear:none !important;
}
div.label:last-of-type {
    page-break-after: avoid !important;
}
/* label specific sizing and layout */
/* single thermal label on a spool */
.dymo-30256{
    height: 90mm;
    width: 57mm;
}
/* standard 2x4 with 10 labels per sheet in portrait mode */
.avery-5163{
    height: 2in;
    width: 3.875in;
}
.avery-5163:nth-of-type(2n){
    float: right;
    padding-left: 0.125in;
}
.avery-5163:nth-of-type(2n+1){
    clear: left;
    float: left;
    padding-right: 0.125in;
}
@media print{
    .label:last-of-type {
        page-break-after: avoid !important;
    }
/*************************************************************
        set when the page breaks should occur for each label type 
        notice that the dymo is for every label
        while the avery is after every 10th label
        
        Note also that different browsers scale the printing differently
        despite what *should* happen.
     *************************************************************/
    .dymo-30256{
        page-break-after: always;
    }
    .avery-5163:nth-of-type(10){
        page-break-after: always;
    }
    .dymo-30256.chrome-label{
        page-break-after: auto;
    }
    .labels.safari-label{
        margin-top:.25in !important; 
    }
    .labels.chrome-label{
        margin-top:0in !important; 
    }
    .avery-5163.safari-label{
        width:3.6in !important;
        height: 1.9in !important;
    }
    .avery-5163.chrome-label{
        width:3.875in !important; 
        height: 2in !important;
    }
    .avery-5163.chrome-label:nth-of-type(10){
        page-break-after: auto;
    }
}